# IDEs
.idea/
.vscode/
*.swp
*.suo

# Python
__pycache__/
*.py[cod]
*$py.class
*.env
venv/
env/
.gradio/

# Datasets & Models
*.zip
*.csv
*.pt
*.pth
*.onnx
trained_models/
outputs/

# Flutter / Dart
neuralnt_mobile/.dart_tool/
neuralnt_mobile/build/
neuralnt_mobile/.packages
neuralnt_mobile/.pub-cache/
neuralnt_mobile/.pub/
neuralnt_mobile/android/app/build/
neuralnt_mobile/ios/Flutter/App.framework
neuralnt_mobile/ios/Flutter/Flutter.framework
neuralnt_mobile/ios/Pods/